:root {
  /* Colors */
  --clr-primary: #cd0101;
  --clr-bg: #191819;
  --clr-bg: linear-gradient(180deg, #191819 0%, #454545 100%);
  --clr-bg-secondary: #202120;
  --clr-placeholder: #888888;
  --clr-divider: #313031;
  --clr-tooltip: #191c19;
  --clr-link: #3ea7fe;
  --clr-icon-default: white;
  --clr-text-default: white;
  --clr-bg-hover: rgb(63, 63, 63);

  /* Fonts */
  --line-height: 1.5;

  /* Misc */
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;

  --default-animation-duration: 150ms;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-bg);
  font-family: "Roboto", sans-serif;
  line-height: var(--line-height);
  color: var(--clr-text-default);
  font-weight: 300;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 6rem;
  max-width: 70rem;
  margin: 0 auto;
}

.logo {
  width: 10rem;
  height: 10rem;
  filter: drop-shadow(0 0 5rem rgba(255, 255, 255, 0.2));
  /* animation: pulse 2s infinite alternate; */
}

h1 {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 55ch;
  margin: 1rem auto 0 auto;
}

h3 {
  /* margin-top: 2rem; */
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

.install-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.install-wrapper img {
  width: 7rem;
  transition: all var(--default-animation-duration);
}

.install-wrapper .install-link {
  position: relative;
}

.install-wrapper .install-link::before {
  content: "Install now";
  position: absolute;
  pointer-events: none;
  top: calc(100% + 0.75rem);
  right: 50%;
  transform: translateX(50%);
  border-radius: 10px;
  background: var(--clr-bg-hover);
  opacity: 0;
  transition: all var(--default-animation-duration);
  font-size: 1.6rem;
  white-space: nowrap;
  padding: 0.25em 0.5em;
  color: var(--clr-text-default);
  box-shadow: var(--box-shadow);
}

.install-wrapper .install-link.coming-soon::before {
  content: "Coming soon";
}

.install-wrapper .install-link:hover::before {
  opacity: 1;
}

.install-wrapper .install-link:hover:not(.coming-soon) img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.2));
}

.install-wrapper .install-link:active:not(.coming-soon) img {
  transform: scale(1.05);
}

.install-wrapper .coming-soon {
  cursor: not-allowed;
}

.install-wrapper .coming-soon img {
  opacity: 0.4;
}

/* .install-now {
  animation: upAndDown 2s infinite alternate;
  font-size: 1.8rem;
  margin-top: 3rem;
} */

.promo-wrapper {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.promo-wrapper > * {
  align-self: start;
}

@media (max-width: 800px) {
  .promo-wrapper {
    flex-direction: column;
  }

  .promo-wrapper > * {
    align-self: auto;
  }
}

.promo-wrapper > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-wrapper > *:nth-child(2) img {
  box-shadow: none;
  width: 10rem;
}

.promo-wrapper img {
  width: 40rem;
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 10rem rgba(255, 255, 255, 0));
  }

  100% {
    filter: drop-shadow(0 0 5rem rgba(255, 255, 255, 0.5));
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}
